@model IEnumerable<_7Colors.Models.ProductType>

@{
    ViewData["Title"] = "أنواع المنتجات";
}
<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <h4 class="text-info">@ViewData["Title"]</h4>
                </div>
                <div class="col-lg-3">
                    <a asp-area="Admin" asp-controller="ProductTypes" asp-action="Create" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> إضافة</a>
                </div>
            </div>
            <br />

            <div>
                <table class="table table-striped border">
                    <thead>
                        <tr class="table-info">
                            <th>
                                @Html.DisplayNameFor(c => c.Type)
                            </th>
                            <th></th>
                            <th>خيارات</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Type</td>
                                <td>
                                    <partial name="_Buttons" model="@item.Id" />
                                </td>
                            </tr>

                        }
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            var create = '@TempData["create"]'
            if (create != '') {
                alertify.success(create);
            }
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del != '') {
                alertify.err(del);
            }
        })
    </script>
}