@using System.Globalization
@using _7Colors.Services
@model _7Colors.ViewModels.ShoppingCartViewModel
@{
    ViewData["Title"] = "عربة المشتريات";
}
<form method="post">
    <div class="container">
        <div class="card summC">
            <div class="card-header text-light mt-2 ch pt-2">
                <i class="fa fa-shopping-cart"></i>&nbsp; @ViewData["Title"]
            </div>
            <div class="card-body">
                @foreach (var item in Model.ListCart!)
                {
                    <div class="row">
                        <div class="d-none d-lg-block col-lg-1 text-center py-2">
                            <img src="@item.Product!.Image" class="rounded w-100" />
                        </div>
                        <div class="col-12 col-lg-4 pt-md-3">
                            <h5><strong>@item.Product!.Name</strong></h5>
                            <p><small>@item.Product.ProductType!.Type</small></p>
                        </div>
                        <div class="col-12 col-lg-7 text-center row ">
                            <div class="col-6 col-lg-6 pt-4">
                                <h6>
                                    <strong>
                                        <span>&nbsp;x&nbsp;</span>@item.Count.ToString().ConvertNumerals()
                                        &nbsp;&nbsp;&nbsp;
                                        @item.LinePrice.ToString("c", new CultureInfo("ar-SA")).ConvertNumerals()
                                    </strong>
                                </h6>
                            </div>
                            <div class="col-4 col-sm-4 col-lg-4 pt-2">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-action="Plus" asp-route-cartId="@item.Id" class="btn">
                                        <i class="fa fa-plus-square"></i>
                                    </a> &nbsp;
                                    <a asp-action="minus" asp-route-cartId="@item.Id" class="btn">
                                        <i class="fa fa-minus-square"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2 col-sm-4 col-lg-2 pt-2">
                                <a asp-action="Remove" asp-route-cartId="@item.Id" class="btn danger">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                }
            </div>
            <div class="card-footer w-100">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <a asp-area="ECommerce" asp-controller="Home" asp-action="Index" class="btn">الاستمرار بالشراء</a>
                    </div>
                    <div class="col-12 col-md-6 pt-2">
                        <strong class="text-info">  المجموع الكلي @Model.OrderHeader!.OrderTotal.ToString("c", new CultureInfo("ar-SA")).ConvertNumerals() </strong>
                    </div>
                    <div class="col-12 col-md-3">
                        @if (Model.ListCart.Count() == 0)
                        {
                            <a class="btn" href="#" aria-disabled="true" role="link">ملخص الطلب</a>
                        }
                        else
                        {
                            <a asp-action="Summary" class="btn">ملخص الطلب</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</form>
