@model _7Colors.Models.Product
@{
    ViewData["Title"] = "تفاصيل المنتج";
}

<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h4 class="text-info">@ViewData["Title"]</h4>
            <div class="row">
                <form asp-action="Edit" method="post" enctype="multipart/form-data" class="col-6">
                    <div class="p-4 rounded border row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Name"></label>
                            </div>
                            <div class="col-8">
                                <label asp-for="Name" class="form-control" />@Model.Name
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Price"></label>
                            </div>
                            <div class="col-8">
                                <label asp-for="Price" class="form-control" />@Model.Price
                            </div>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="ProductColor"></label>
                            </div>
                            <div class="col-8">
                                <label asp-for="ProductColor" class="form-control" />@Model.ProductColor
                            </div>
                            <span asp-validation-for="ProductColor" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="TypeId"></label>
                            </div>
                            <div class="col-8">
                                <label asp-for="TypeId" class="form-control" />@Model.ProductType!.Type
                            </div>
                            <span asp-validation-for="TypeId" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="TagId"></label>
                            </div>
                            <div class="col-8">
                                <label asp-for="TagId" class="form-control" />@Model.SpecialTag!.Name
                            </div>
                            <span asp-validation-for="TagId" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="IsAvailable"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="IsAvailable" disabled="disabled" type="checkbox" />
                            </div>
                            <span asp-validation-for="IsAvailable" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="IsPublished"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="IsPublished" type="checkbox" disabled="disabled" />
                            </div>
                            <span asp-validation-for="IsPublished" class="text-danger"></span>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <a type="button" asp-action="Edit" asp-route-id="@Model.Id" class="btn">التعديل</a>
                            <a asp-action="Index" class="btn">عودة للقائمة</a>
                        </div>
                        <br />
                        <br />

                    </div>
                </form>
                <div id="proImg" class="col-6">
                    <div class="form-group">                       
                        <div class="col-6">
                            <img src="@Model.Image" class="card-img" id="Detail" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}