@model IEnumerable< _7Colors.Models.Post>

@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<h3 class="multicolortext text-center w-50 mx-auto" style="line-height: 2;">
     مرحباً بكم في المنصة التابعة لمؤسسة الألوان السبعة
    <br />
     للتدريب والارتقاء بالطفل
</h3>
@foreach (var item in Model)
{
    <div class="rounded border row p-4">
        <div class="w-50 p-5">
            <h3 class="stacked">@item.Title</h3>
            @item.Description
        </div>
        <div id="carouseI_@item.Id" class="carousel slide w-50" data-bs-ride="carousel" data-bs-interval="2000" dir="rtl" data-bs-pause="hover" data-id="@item.Id">

            <div class="carousel-indicators">
                @for (int i = 0; i < item.Images.Count(); i++)
                {
                    <button type="button" data-bs-target="#carouseI_@item.Id" data-bs-slide-to="@i" aria-label="Slide @(i+1)"
                            class="@(i == 0?  "active" : "")" aria-current="@(i == 0?  "true" : "") ">
                    </button>
                }
            </div>
            <div class="carousel-inner">
                @for (int i = 0; i < item.Images.Count(); i++)
                {
                    <div class="carousel-item @(i == 0?  "active" : "")">
                        <img src="@item.Images.ElementAt(i).Url" class="d-block slideImg" alt="Slide @(i+1)"/>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@item.Images.ElementAt(i).Title</h5>
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouseI_@item.Id" data-bs-slide="prev" dir="rtl">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouseI_@item.Id" data-bs-slide="next" dir="rtl">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            let caros = document.querySelectorAll("carousel");
            for (let item of caros) {
                let id = item.getAttribute("data-id");
                $(`#carousel_${id}`).carousel();
            }
        });
    </script>
}
