@model _7Colors.Models.Image

@{
    ViewData["Title"] = "تفاصيل الصورة";
}

<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h4 class="text-info">@ViewData["Title"] </h4>
            <form asp-action="Details" method="post" enctype="multipart/form-data">
                <div class="p-4 rounded border row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h4>@ViewBag.message</h4>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Title"></label>
                        </div>
                        <div class="col-8">
                            <label asp-for="Title" class="form-control" />@Model.Title
                        </div>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Description"></label>
                        </div>
                        <div class="col-8">
                            <label asp-for="Description" class="form-control" />@Model.Description
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="PostId"></label>
                        </div>
                        <div class="col-8">
                            <label asp-for="PostId" class="form-control" />@Model.Post!.Title
                        </div>
                        <span asp-validation-for="PostId" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="IsPublished"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="IsPublished" type="checkbox" disabled="disabled" />
                        </div>
                        <span asp-validation-for="IsPublished" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <img src="@Model.Url" class="card-img" id="Detail" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <a type="button" asp-action="Edit" asp-route-id="@Model.Id" class="btn">تعديل</a>
                        <a asp-action="Index" class="btn">عودة للقائمة</a>
                    </div>
                </div>
            </form>
            @*     <div id="proImg" class="col-6">

            </div> *@
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}