@model IEnumerable<_7Colors.ViewModels.ImageViewModel>
@{
    ViewData["Title"] = "قائمة صور الصفحة الرئيسية";
}
<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="text-info">@ViewData["Title"]</h4>
                </div>
                <div class="col-lg-6">
                    <a asp-action="Create" class="btn"><i class="fa fa-plus"></i>&nbsp; إضافة</a>
                </div>
            </div>
            <br />
            <div>
                <table class="table table-responsive p-2 table-striped border" id="myTable">
                    <thead>
                        <tr class="table-info">
                            <th>@Html.DisplayNameFor(c => c.Title)</th>
                            @*                             <th>@Html.DisplayNameFor(c => c.Description)</th>*@
                            <th>@Html.DisplayNameFor(c => c.Url)</th>
                            @*                             <th>@Html.DisplayNameFor(c => c.PostId) </th>*@                            @*                             <th>@Html.DisplayNameFor(c => c.IsPublished)</th>*@
                            <th width="140px">خيارات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                @* <td>@item.Description</td>*@
                                <td id="img" style="background-color: @((item.Url != null) ?
                                "var(--bs-table-bg)" : "darksalmon")">
                                    <img src="@item.Url" />
                                </td>
                                @* <td>@item.Post?.Title</td>
                                <td>@item.IsPublished.ConvertLogic()</td> *@
                                <partial name="_Buttons" model="@item.Id" />
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
</div>

@section scripts {
    <script src="~/js/IndexTable.js"></script>
}