@using _7Colors.Utility
@model IEnumerable<_7Colors.Models.Image>

@if (ViewBag.type == "allG")
{
    ViewData["Title"] = "قائمة صور الصفحة الرئيسية";
}
else
{
    ViewData["TitleIn"] = "قائمة صور مجموعة \n".Replace("\n", "<br>") + ViewBag.type;
    ViewData["Title"] = "قائمة صور مجموعة "+ ViewBag.type;
}
<div class="d-flex" id="wrapper">
    <partial name="_Navbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        @* <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        <a class="btn btn-warning float-right" asp-area="Admin" asp-controller="Products" asp-action="Create">Add-Product</a>
        </nav> *@
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="text-info">@Html.Raw(ViewData["TitleIn"])</h4>
                </div>
                <div class="col-lg-6">
                    <a asp-action="Create" class="btn"><i class="fa fa-plus"></i>&nbsp; إضافة</a>
                </div>
            </div>
            <br />
            <div>
                <table class="table table-striped border" id="myTable">
                    <thead>
                        <tr class="table-info">
                            <th>@Html.DisplayNameFor(c => c.Title)</th>
                            <th>@Html.DisplayNameFor(c => c.Description)</th>
                            <th>@Html.DisplayNameFor(c=>c.Url)</th>
                            @if (ViewBag.type == "allG" )
                            {
                                <th>@Html.DisplayNameFor(c => c.GroupId) </th>
                            }
                            <th>@Html.DisplayNameFor(c => c.IsPublished)</th>
                            <th width="140px">خيارات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td id="img" style="background-color: @((item.Url != null) ?
                                "var(--bs-table-bg)" : "darksalmon")">
                                    <img src="@item.Url" />
                                </td>
                                <td>@item.IsPublished.ConvertLogic()</td>
                                @if (ViewBag.type == "allG")
                                {
                                    <td>@item.Group?.Title</td>
                                }
                                <partial name="_Buttons" model="@item.Id" />
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
</div>

@section scripts{
    <script type="text/javascript">    
        $(function () {
            var create = '@TempData["create"]'
            if (create != '') {
                alertify.success(create);
            }
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del != '') {
                alertify.error(del);
            }
        })
    </script>
}